.header {
    background-color: #FFFDFA;
    padding: 20px;
    text-align: center;
}

.header h1 {
    font-family: 'Delicate Caligraphy Demo', cursive;
    font-size: 3em;
    margin: 20px 0;
}

.back-to-home {
    position: absolute;
    top: 20px;
    left: 20px;
}

.back-button {
    display: inline-block;
    color: #000000;
    font-size: 1.2em;
    text-decoration: none;
    border: 1px solid #000000;
    padding: 10px 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.back-button:hover {
    background-color: #000000;
    color: #ffffff;
}

/* Styles généraux pour la galerie */
.villa-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colonnes */
    grid-gap: 20px; /* Espace entre les images */
    padding: 20px;
}

/* Images de la galerie */
.gallery-image {
    width: 100%;
    height: auto;
    object-fit: cover; /* Pour ajuster l'image à son conteneur */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre douce */
}

/* Styles pour le footer */
footer {
    background-color: #FFFDFA;
    padding: 10px;
    text-align: center;
    border-top: 2px solid #333;
}

@media (max-width: 768px) {
    .villa-gallery {
        grid-template-columns: 1fr;
    }
}
